#!/bin/bash

#read passwords from file and set environment variables
file="/etc/maadix/nextcloud"
nextcloud=$(cat "$file")
file="/etc/maadix/nextclouddb"
nextclouddb=$(cat "$file")


#create nextcloud database
if [ -f /root/.my.cnf ]; then
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE DATABASE nextcloud /*\!40100 DEFAULT CHARACTER SET utf8 */;"
    mysql --defaults-extra-file=/root/.my.cnf -e "CREATE USER nextcloud@localhost IDENTIFIED BY '$nextclouddb';"
    mysql --defaults-extra-file=/root/.my.cnf -e "GRANT ALL PRIVILEGES ON nextcloud.* TO 'nextcloud'@'localhost';"
    mysql --defaults-extra-file=/root/.my.cnf -e "FLUSH PRIVILEGES;"
fi

#nextcloud occ installation
sudo -u www-data php /var/www/nextcloud/nextcloud/occ  maintenance:install --database 'mysql' --database-name nextcloud  --database-user nextcloud --database-pass $nextclouddb --admin-user <%= scope.lookupvar('helpers::nextcloud::adminuser') -%> --admin-pass $nextcloud --data-dir <%= scope.lookupvar('helpers::nextcloud::datadir') -%>

### STATUS FILE #####
echo "ok" > /etc/maadix/status/nextcloud
