Alias /nextcloud "/var/www/nextcloud/nextcloud/"
<Directory "/var/www/nextcloud/nextcloud">

  Options +FollowSymLinks
  AllowOverride All

  <IfModule mod_dav.c>
        Dav off
  </IfModule>

  SetEnv HOME /var/www/nextcloud/nextcloud
  SetEnv HTTP_HOME /var/www/nextcloud/nextcloud

  #Not allow any connection using HTTP
  Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"

</Directory>

<Directory "/var/www/nextcloud/data/">
  # just in case if .htaccess gets disabled
    Require all denied
</Directory>

